{% load static %}

<div class="why-us section-padding bg-gray pos-re">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="img mb-md50">
                            <img src= "{% static 'img/1.jpg' %}" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="content pt-10">
                            <div class="item mb-40">
                                <span class="icon icon-basic-display"></span>
                                <div class="cont">
                                    <h5>Fully Responsive</h5>
                                    <p>Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat velit class aptent taciti sociosqu.</p>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <span class="icon icon-basic-bolt"></span>
                                <div class="cont">
                                    <h5>Clean & Modern Design</h5>
                                    <p>Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat velit class aptent taciti sociosqu.</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-headset"></span>
                                <div class="cont">
                                    <h5>Friendly Support</h5>
                                    <p>Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat velit class aptent taciti sociosqu.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="curve curve-top"></div>
            <div class="curve curve-bottom"></div>
        </div>