{% load static %}

<section class="contact section-padding" data-scroll-index="6">
           <div class="container">
               <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>Get <span>In</span> Touch</h4>
                        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                    </div>

                    <div class="col-lg-5">
                        <div class="contact-info mb-md50">
                            <h5>Contact Us :</h5>
                            <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                            <div class="item">
                                <span class="icon icon-basic-tablet"></span>
                                <div class="cont">
                                    <h6>Phone : </h6>
                                    <p>917.512.3920</p>
                                    <p>718.923.6084</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-mail-open-text"></span>
                                <div class="cont">
                                    <h6>Email : </h6>
                                    <p>Info@sohosquaresolutions.com</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-geolocalize-05"></span>
                                <div class="cont">
                                    <h6>Address : </h6>
                                    <p>106 West 32nd Street, #108, New York, NY 10001</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <form class="form" id="contact-form" method="post" action="#">

                            <div class="messages"></div>

                            <div class="controls">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <button type="submit" class="butn butn-bg"><span>Send Message</span></button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

               </div>
           </div>
       </section>