{% load static %}

<header class="header pos-re slider-fade" data-scroll-index="0">

    		<div class="owl-carousel owl-theme">
                <div class="item bg-img" data-overlay-dark="5" data-background=" {% static 'img/bg4.jpg' %} ">
        			<div class="text-center v-middle caption mt-30">
                        <h4>We Are</h4>
                        <h1>Big Digital Agency</h1>
                        <div class="row">
                            <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                                <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                            </div>
                        </div>
                        <a href="#0" class="butn butn-light mt-30">
                            <span>Get Started</span>
                        </a>
                    </div>
                </div>
                <div class="item bg-img" data-overlay-dark="5" data-background=" {% static 'img/bg1.jpg' %} ">
                    <div class="text-center v-middle caption mt-30">
                        <h4>We Are</h4>
                        <h1>Big Digital Agency</h1>
                        <div class="row">
                            <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                                <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                            </div>
                        </div>
                        <a href="#0" class="butn butn-light mt-30">
                            <span>Get Started</span>
                        </a>
                    </div>
                </div>
                <div class="item bg-img" data-overlay-dark="5" data-background=" {% static 'img/bg4.jpg' %} ">
                    <div class="text-center v-middle caption mt-30">
                        <h4>We Are</h4>
                        <h1>Big Digital Agency</h1>
                        <div class="row">
                            <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                                <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                            </div>
                        </div>
                        <a href="#0" class="butn butn-light mt-30">
                            <span>Get Started</span>
                        </a>
                    </div>
                </div>
    		</div>
    	</header>