{% load static %}
<!DOCTYPE html>
 <html lang="zxx">

    
 {% include 'head.html' %}


    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<!-- <div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div> -->
        
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->

		 {% include 'navbar.html' %}

    	<!-- End Navbar ====
    	======================================= -->


    	<!-- =====================================
    	==== Start Header -->



    	<!-- End Header ====
    	======================================= -->
<!--        {% include 'header.html' %}-->
<!--        {% include 'header-slider.html' %}-->
        {% include 'header-slider-animated.html' %}


        <!-- =====================================
        ==== Start Hero services -->

       {% include 'services.html' %}

        <!-- End Hero ====
        ======================================= -->


        <!-- =====================================
        ==== Start Process -->

        {% include 'process.html' %}

        <!-- End Process ====
        ======================================= -->


        <!-- =====================================
        ==== Start Works  Portfolio-->

        {% include 'portfollo.html' %}

        <!-- End Works ====
        ======================================= -->


        <!-- =====================================
        ==== Start Why-us -->

        {% include 'start-why-us.html' %}

        <!-- End Why-us ====
        ======================================= -->


        <!-- =====================================
        ==== Start Teams -->

        {% include 'team.html' %}

        <!-- End Teams ====
        ======================================= -->



        <!-- =====================================
        ==== Start Testimonials -->

        {% include 'start-testimonials.html' %}


        <!-- End Testimonials ====
        ======================================= -->


        <!-- =====================================
        ==== Start Price -->

        <!-- End Price ====
        ======================================= -->


        <!-- =====================================
        ==== Start Blog -->

        {% include 'blog.html' %}

        <!-- End Blog ====
        ======================================= -->


        <!-- =====================================
        ==== Start Call-Action -->

         {% include 'start-call-action.html' %}

        <!-- End Call-Action ====
        ======================================= -->


        <!-- =====================================
        ==== Start Contact -->

          {% include 'contact.html' %}

        <!-- End Contact ====
        ======================================= -->


        <!-- =====================================
        ==== Start Footer -->

        {% include 'footer.html' %}

        <!-- End Footer ====
        ======================================= -->

        {% include 'js.html' %}


    </body>
</html>