{% load static %}

<div class="process section-padding bg-img bg-fixed pos-re text-center" data-overlay-dark="7" data-background="{% static 'img/bg6.jpg' %}">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4><span>Our</span> Process</h4>
                        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                    </div>
                    <div class="full-width clearfix"></div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item first mb-md50">
                            <img  src= "{% static 'img/arrow.png' %}" class="tobotm" alt="">
                            <span class="icon icon-basic-lightbulb"></span>
                            <div class="cont">
                                <h3>01</h3>
                                <h6>Ideas</h6>
                                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item odd mb-md50">
                            <img src= "{% static 'img/arrow.png' %}" alt="">
                            <span class="icon icon-basic-book-pencil"></span>
                            <div class="cont">
                                <h3>02</h3>
                                <h6>Planning</h6>
                                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item mb-sm50">
                            <img src= "{% static 'img/arrow.png' %}"class="tobotm" alt="">
                            <span class="icon icon-basic-pencil-ruler"></span>
                            <div class="cont">
                                <h3>03</h3>
                                <h6>Development</h6>
                                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="item odd">
                            <span class="icon icon-basic-server-upload"></span>
                            <div class="cont">
                                <h3>04</h3>
                                <h6>Testing</h6>
                                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="curve curve-gray-t curve-top"></div>
            <div class="curve curve-bottom"></div>
        </div>