{% load static %}

<section class="team section-padding" data-scroll-index="3">
            <div class="container">
                <div class="row">

                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4><span>Talent</span> Team</h4>
                        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                    </div>

                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="team-img">
                                <img src= "{% static 'img/team/1.jpg' %}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Alex Smith</h6>
                                <span>Project Manager</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img   src= "{% static 'img/team/2.jpg' %}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Alex Smith</h6>
                                <span>Project Manager</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img   src= "{% static 'img/team/3.jpg' %}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Alex Smith</h6>
                                <span>Project Manager</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img  src= "{% static 'img/team/4.jpg' %}"alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Alex Smith</h6>
                                <span>Project Manager</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-img">
                                <img src= "{% static 'img/team/3.jpg' %}" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h6>Alex Smith</h6>
                                <span>Project Manager</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>